.fav-thumbnail {
    float: left;
    margin-right: 5px;
}


.favframe {
    border: 1px solid #d95347;
    /* margin: 2px; */
    padding: 5px;
    margin-bottom: 8px;
    margin-right: 21px;
    min-height: 262px;
    float: left;
}