<h2>Vidéos favorites</h2>      

<div *ngFor="let fav of favorites">
  <div class="col-sm-5 favframe">
      <div>
        <h4>{{ fav.title }}</h4>
        <img [src]="fav.thumbnailDefaultUrl" alt="{{fav.title}}" class="fav-thumbnail">
        <p>{{fav.description}}</p>
        <hr>
        <p>mon commentaire : {{fav.userDescription}}</p>

        <a href="{{fav.channelUrl}}" class="card-link" target="_blank">chaine YouTube</a>
        <a href="https://www.youtube.com/watch?v={{fav.videoId}}" class="card-link" target="_blank">voir la vidéo</a>
        <a class="btn btn-xs btn-danger" (click)="deleteFavorite(fav._id)">supprimer</a>
      </div>
  </div>
</div>

<br>
<br>
<br>
<br>
<div class="row">
  <div class="col-sm-12">
    <h2>Données brutes</h2>
    <div>{{ favorites | json }}</div>
  </div>
</div>